@import url(global.css);

nav {
    background-color: var(--primary-color);
}

.navbar-nav .nav-link {
    font-weight: 600;
    color: #fff;
}

.navbar-toggler {
    margin-left: auto; 
}



@media (max-width: 1000px) {
    .navbar-brand img {
        max-height: 100px;
    }
    
}
@media (max-width: 768px) {
    .navbar-brand img {
        max-height: 70px;
    }
    
}
@media (max-width: 533px) {
    .navbar-brand img {
        max-height: 50px;
    }
    
}


